<!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
<adf-toolbar color="primary">
  <adf-toolbar-title>
    <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <a mat-button routerLink="/">ADF</a>
  </adf-toolbar-title>

    <a mat-button href="" routerLink="/login"*ngIf=!checkIfLogged()>Login</a>
    <a mat-button href="" routerLink="/documentlist">Documents</a>
    <a mat-button href="" routerLink="/genihm">GenIHM</a>
    <a mat-button href="" routerLink="/moteurGenihm">Moteur GenIHM</a>
    <a mat-button href="" routerLink="/search">Search</a>

    <button mat-button (click)="logout()" *ngIf=checkIfLogged()>Logout</button>

  </adf-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" class="sidebar-left">

      <h3>SIDEBAR</h3>

      <mat-tab-group>
        <mat-tab label="Grid Option">

        </mat-tab>
        <mat-tab label="Dag Item Option">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab>
      </mat-tab-group>
      <button mat-button [matMenuTriggerFor]="appMenu" class="margin-top">Bouton menu exemple</button>
    </mat-sidenav>

    <mat-menu #appMenu="matMenu">
    <button mat-menu-item> Settings </button>
    <button mat-menu-item> Help </button>
    </mat-menu>

    <mat-sidenav-content class="full-height boxed">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
