<!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
<adf-toolbar color="primary" style="position: absolute; z-index:2;top: 0px;left: 0px;right: 0px;">
  <adf-toolbar-title>
    <!-- <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button> -->
    <a mat-button routerLink="/">ADF</a>
  </adf-toolbar-title>

    <a mat-button href="" routerLink="/login" *ngIf=!checkIfLogged()>Login</a>
    <a mat-button href="" routerLink="/genihm">Designer</a>
    <a mat-button href="" routerLink="/moteurGenihm">Visionneuse</a>
    <button mat-button (click)="logout()" *ngIf=checkIfLogged()>Logout</button>

  </adf-toolbar>

  <!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" class="sidebar-left">

      <h3>SIDEBAR</h3>

      <mat-tab-group>
        <mat-tab label="Onglet 1">
          <h1>Some more tab content 1</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Onglet 2">
          <h1>Some more tab content 2</h1>
          <p>...</p>
        </mat-tab>
      </mat-tab-group>
      <button mat-button [matMenuTriggerFor]="appMenu" class="margin-top">Bouton menu exemple permanent</button>
    </mat-sidenav>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item> Settings </button>
      <button mat-menu-item> Help </button>
    </mat-menu>

    <mat-sidenav-content class="full-height boxed">
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  
  <router-outlet></router-outlet>