.sidebar-left{
    padding-left : 10px;
    padding-right: 20px;
    /* background-color: blue; */
}

.full-height{
    height: 100%;
}

.margin-bottom{
    margin-bottom: 20px;
}

.margin-top{
    margin-top: 30px;
}

.boxed{
    padding-left: 20px;
    padding-right: 20px;
}
