 <h1 (click)="editItem('Title')" >GenIHM Editor</h1>
 <button mat-button (click)="sidenav2.toggle()"><mat-icon>menu</mat-icon></button>
<mat-sidenav-container>
  <mat-sidenav #sidenav2 mode="side" class="sidebar-left">
    <mat-tab-group>
      <mat-tab label="Create Page">
        <!-- <div>
         <div (click)="gridNameColor('rgb(255, 0, 0)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(255, 0, 0) "></div>
         <div (click)="gridNameColor('rgb(255, 64, 0)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(255, 64, 0) "></div>
         <div (click)="gridNameColor('rgb(255, 128, 0)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(255, 128, 0) "></div>
         <div (click)="gridNameColor('rgb(255, 191, 0)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(255, 191, 0) "></div>
         <div (click)="gridNameColor('rgb(255, 255, 0)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(255, 255, 0) "></div>
         <div (click)="gridNameColor('rgb(191, 255, 0)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(191, 255, 0) "></div>
         <div (click)="gridNameColor('rgb(128, 255, 0)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(128, 255, 0) "></div>
         <div (click)="gridNameColor('rgb(64, 255, 0)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(64, 255, 0) "></div>
         <div (click)="gridNameColor('rgb(0, 255, 64)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(0, 255, 0) "></div>
         <div (click)="gridNameColor('rgb(0, 255, 128)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(0, 255, 64) "></div>
         <div (click)="gridNameColor('rgb(0, 255, 191)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(0, 255, 128) "></div>
         <div (click)="gridNameColor('rgb(0, 255, 255)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(0, 255, 191) "></div>
         <div (click)="gridNameColor('rgb(0, 0, 255)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(0, 0, 255) "></div>
         <div (click)="gridNameColor('rgb(64, 0, 255)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(64, 0, 255) "></div>
         <div (click)="gridNameColor('rgb(128, 0, 255)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(128, 0, 255) "></div>
         <div (click)="gridNameColor('rgb(191, 0, 255)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(191, 0, 255) "></div>
         <div (click)="gridNameColor('rgb(255, 0, 255)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(255, 0, 255) "></div>
         <div (click)="gridNameColor('rgb(255, 0, 191)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(255, 0, 191) "></div>
         <div (click)="gridNameColor('rgb(255, 0, 128)')" style="display: block;float: right; height:15px;width: 5%; background-color: rgb(255, 0, 128) "></div>
         </div>-->

          <input (click)="back()" type="image"  class="button" src="../../assets/Fgauche.jpg" >
          <input (click)="reset()" type="image" class="button" src="../../assets/reset.jpg">
         <input (click)="forward()" type="image"  class="button" src="../../assets/Fdroite.jpg" >
         <input (click)="DeleteMode()" type="image"  class="{{classBtnDelete}}" src="../../assets/suppr.png" >


        <br>
         <button (click)="gridNameColor('lightblue')" > Blue </button>
         <button (click)="gridNameColor('red')" > Red</button>
         <button (click)="gridNameColor('yellow')" > Yellow</button>
         <button (click)="gridNameColor('green')" > Green</button>



        <div id="ligne1" style="display: block; ">
          <div id="col14" (click)="gridSkull(1,4)"  class="{{backgroundColor[3]}}" ></div>
          <div id="col13" (click)="gridSkull(1,3)"  class="{{backgroundColor[2]}}"></div>
          <div id="col12" (click)="gridSkull(1,2)"  class="{{backgroundColor[1]}}"></div>
          <div id="col11" (click)="gridSkull(1,1)"  class="{{backgroundColor[0]}}"></div>
        </div>
        <div id="ligne2" style="display: block;" >
          <div id="col24" (click)="gridSkull(2,4)" class="{{backgroundColor[7]}}"></div>
          <div id="col23" (click)="gridSkull(2,3)" class="{{backgroundColor[6]}}"></div>
          <div id="col22" (click)="gridSkull(2,2)" class="{{backgroundColor[5]}}"></div>
          <div id="col21" (click)="gridSkull(2,1)" class="{{backgroundColor[4]}}"></div>
        </div>
        <div id="ligne3" style="display: block;" >
          <div id="col34" (click)="gridSkull(3,4)" class="{{backgroundColor[11]}}"></div>
          <div id="col33" (click)="gridSkull(3,3)" class="{{backgroundColor[10]}}"></div>
          <div id="col32" (click)="gridSkull(3,2)" class="{{backgroundColor[9]}}"></div>
          <div id="col31" (click)="gridSkull(3,1)" class="{{backgroundColor[8]}}"></div>
        </div>
        <div id="ligne4" style="display: block;" >
          <div id="col44" (click)="gridSkull(4,4)" class="{{backgroundColor[15]}}"></div>
          <div id="col43" (click)="gridSkull(4,3)" class="{{backgroundColor[14]}}"></div>
          <div id="col42" (click)="gridSkull(4,2)" class="{{backgroundColor[13]}}"></div>
          <div id="col41" (click)="gridSkull(4,1)" class="{{backgroundColor[12]}}"></div>
        </div>
        <div id="ligne5" style="display: block;">
          <div id="col54" (click)="gridSkull(5,4)" class="{{backgroundColor[19]}}"></div>
          <div id="col53" (click)="gridSkull(5,3)" class="{{backgroundColor[18]}}"></div>
          <div id="col52" (click)="gridSkull(5,2)" class="{{backgroundColor[17]}}"></div>
          <div id="col51" (click)="gridSkull(5,1)" class="{{backgroundColor[16]}}"></div>
        </div>
        <div id="ligne6" style="display: block;" >
          <div id="col64" (click)="gridSkull(6,4)" class="{{backgroundColor[23]}}"></div>
          <div id="col63" (click)="gridSkull(6,3)" class="{{backgroundColor[22]}}"></div>
          <div id="col62" (click)="gridSkull(6,2)" class="{{backgroundColor[21]}}"></div>
          <div id="col61" (click)="gridSkull(6,1)" class="{{backgroundColor[20]}}"></div>
        </div>
        <div id="ligne7" style="display: block;" >
          <div id="col74" (click)="gridSkull(7,4)" class="{{backgroundColor[27]}}"></div>
          <div id="col73" (click)="gridSkull(7,3)" class="{{backgroundColor[26]}}"></div>
          <div id="col72" (click)="gridSkull(7,2)" class="{{backgroundColor[25]}}"></div>
          <div id="col71" (click)="gridSkull(7,1)" class="{{backgroundColor[24]}}"></div>
        </div>
        <div id="ligne8" style="display: block;"  >
          <div id="col84" (click)="gridSkull(8,4)" class="{{backgroundColor[31]}}"></div>
          <div id="col83" (click)="gridSkull(8,3)" class="{{backgroundColor[30]}}"></div>
          <div id="col82" (click)="gridSkull(8,2)" class="{{backgroundColor[29]}}"></div>
          <div id="col81" (click)="gridSkull(8,1)" class="{{backgroundColor[28]}}"></div>
        </div>
        <div id="ligne9" style="display: block;"  >
          <div id="col94" (click)="gridSkull(9,4)" class="{{backgroundColor[35]}}"></div>
          <div id="col93" (click)="gridSkull(9,3)" class="{{backgroundColor[34]}}"></div>
          <div id="col92" (click)="gridSkull(9,2)" class="{{backgroundColor[33]}}"></div>
          <div id="col91" (click)="gridSkull(9,1)" class="{{backgroundColor[32]}}"></div>
        </div>
        <!-- <div id="ligne10" style="display: block; padding-bottom: 900px" >
           <div id="col104" (click)="gridSkull(10,4)" class="{{backgroundColor[39]}}"></div>
           <div id="col103" (click)="gridSkull(10,3)" class="{{backgroundColor[38]}}"></div>
           <div id="col102" (click)="gridSkull(10,2)" class="{{backgroundColor[37]}}"></div>
           <div id="col101" (click)="gridSkull(10,1)" class="{{backgroundColor[36]}}"></div>
         </div>-->


       </mat-tab>
       <mat-tab label="Edit Page">

          <div style=" width: 100%;background-color: #FF9700; margin-bottom: 15px; border: solid; border-color: rgba(37,37,37,0.95);">
           <p style="text-align: center"><strong style="color: white">Edit item</strong></p>
            <div *ngIf="ItemEdit == 'autocomplete' " >
              <div style="display: inline-block;color: white" > Placeholder : <input  style="color: black" [(ngModel)]="placeHolderAutoComplete"></div>
              <div *ngFor="let option of options" >
                <input (change)="changeValueAutoComplete(option,$event)"  value="{{ option }}"><button mat-mini-fab color="warn">
                <mat-icon aria-label="Example icon-button with a heart icon" (click)="removeValueAutocomplete(option)" >remove</mat-icon>
              </button>
              </div>
              <button mat-mini-fab color="#3349FF" (click)="addValueAutocomplete()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
            </div>
          </div>


           <accordion>
             <accordion-group heading="Form Control">
               <div class='parent'>
               <div class='wrapper'>
                 <div [dragula]='"page-bag"' [dragulaModel]='formControl' id="componentFrom">
                   <img *ngFor='let text of formControl' src="../../assets/iconeGENIHM/{{text}}.PNG" name="{{text}}" style="padding: 5px">
                 </div>
               </div>
               </div>
             </accordion-group>
             <accordion-group heading="Navigation">
               <div class='parent'>
                 <div class='wrapper'>
                   <div [dragula]='"page-bag"' [dragulaModel]='navigation' id="componentNav">
                     <img *ngFor='let text of navigation' src="../../assets/iconeGENIHM/{{text}}.PNG" name="{{text}}" style="padding: 5px">
                   </div>
                 </div>
               </div>
             </accordion-group>
             <accordion-group heading="Layout">
               <div class='parent'>
                 <div class='wrapper'>
                   <div [dragula]='"page-bag"' [dragulaModel]='layout' id="componentLayout">
                     <img *ngFor='let text of layout' src="../../assets/iconeGENIHM/{{text}}.PNG" name="{{text}}" style="padding: 5px">
                   </div>
                 </div>
               </div>
             </accordion-group>
             <accordion-group heading="Button & Indicators">
               <div class='parent'>
                 <div class='wrapper'>
                   <div [dragula]='"page-bag"' [dragulaModel]='button' id="componentButton">
                     <img *ngFor='let text of button' src="../../assets/iconeGENIHM/{{text}}.PNG" name="{{text}}" style="padding: 5px">
                   </div>
                 </div>
               </div>
             </accordion-group>
             <accordion-group heading="Popups & Modals">
               <div class='parent'>
                 <div class='wrapper'>
                   <div [dragula]='"page-bag"' [dragulaModel]='modals' id="componentModals">
                     <img *ngFor='let text of modals' src="../../assets/iconeGENIHM/{{text}}.PNG" name="{{text}}" style="padding: 5px">
                   </div>
                 </div>
               </div>
             </accordion-group>
             <accordion-group heading="Data Table">
               <div class='parent'>
                 <div class='wrapper'>
                   <div [dragula]='"page-bag"' [dragulaModel]='dataTable' id="componentDataTable">
                     <img *ngFor='let text of dataTable' src="../../assets/iconeGENIHM/{{text}}.PNG" name="{{text}}" style="padding: 5px">
                   </div>
                 </div>
               </div>
             </accordion-group>
           </accordion>
         <accordion>
           <accordion-group heading="Console">
             <div *ngFor='let tile of tiles'>
               <pre *ngIf="tile.vide == 'true' ">{{tile.tab | json}}</pre>
             </div>
           </accordion-group>
         </accordion>
       </mat-tab>
     </mat-tab-group>

   </mat-sidenav>

   <mat-menu #appMenu="matMenu">
     <button mat-menu-item> Settings </button>
     <button mat-menu-item> Help </button>
   </mat-menu>

<form id="formGrid">
 <mat-grid-list cols="4" rowHeight="100px">
     <mat-grid-tile
         *ngFor="let tile of tiles"
         [colspan]="tile.cols"
         [rowspan]="tile.rows"
         [style.background]="tile.color">


   <div *ngIf="tile.vide == 'true' " [dragula]='"page-bag"' [dragulaModel]='tile.tab' id={{tile.id}} style="width: 100%;height: 100%;" class="containerX"
        fxLayout="column" fxLayoutAlign="space-around center">
         <div *ngFor='let text of tile.tab' >

           <div *ngIf="text == 'autocomplete' " (click)="editItem('autocomplete')" >
             <input class="w3-input w3-border w3-light-grey" type="text" placeholder="{{placeHolderAutoComplete}}" [matAutocomplete]="auto">
             <mat-autocomplete #auto="matAutocomplete">
               <mat-option *ngFor="let option of options" [value]="option">
                 {{ option }}
               </mat-option>
             </mat-autocomplete>
            </div>

           <div *ngIf="text == 'checkbox' ">
           <mat-checkbox><input type="text"></mat-checkbox>
           </div>


           <div *ngIf="text == 'datepicker' ">
             <input matInput [matDatepicker]="picker" placeholder="Choose a date">
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
           </div>


           <div *ngIf="text == 'input' ">
             <input matInput placeholder="Your value" >
           </div>

          <div *ngIf="text == 'radiobutton' ">
            <mat-radio-group>
              <mat-radio-button value="1">Option 1</mat-radio-button>
              <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>
           </div>

           <div *ngIf="text == 'select' ">
             <mat-select placeholder="Your Option">
               <mat-option *ngFor="let option of OptionSelect" [value]="option.value">
                 {{ option.viewValue }}
               </mat-option>
             </mat-select>
           </div>

           <div *ngIf="text == 'slider' ">

           </div>

           <div *ngIf="text == 'slidetoggle' ">
             <mat-slide-toggle>Slide me!</mat-slide-toggle>
           </div>

         </div>
   </div>


     </mat-grid-tile>
   </mat-grid-list>
</form>
  <button type="submit" form="formGrid" value="Valider">Valider</button>

  <mat-card class="card-demo">
    <mat-card-title>Flex Attribute Values</mat-card-title>
    <mat-card-subtitle>Explore impact of non-numerical values for the 'fxFlex' API:
    </mat-card-subtitle>
    <mat-card-content>
      <div class="containerX">
        <div fxLayout="row wrap" class="colored box nopad">
          <div fxFlex="none"> [fxFlex="none"]</div>
          <div fxFlex> [fxFlex]</div>
          <div fxFlex="nogrow"> [fxFlex="nogrow"]</div>
          <div fxFlex="grow"> [fxFlex="grow"]</div>
          <div fxFlex="initial"> [fxFlex="initial"]</div>
          <div fxFlex="auto"> [fxFlex="auto"]</div>
          <div fxFlex="noshrink"> [fxFlex="noshrink"]</div>
          <!-- <div fxFlex="0"> [fxFlex="0"]</div> -->
          <div fxFlex="auto"> [fxFlex="auto"]</div>
          <!-- <div fxFlex="50">[fxFlex="50"]</div> -->
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="hint">&lt;div fxLayout="row wrap" &gt;</div>
    </mat-card-footer>
  </mat-card> </mat-sidenav-container>

