///////////////////////////////////// COMMON /////////////////////////////////////////

h4 {
  padding-left: 20px;
}

//////////////////////////////////// HEADERS ////////////////////////////////////////
#header-genihm {
  position: fixed;
  z-index:2;
  min-width: 100%;
}

.right-tools {
  width: 300px;
}

///////////////////////////////////// SIDEBARS //////////////////////////////////////////

#sidebar.material-icons {
  font-size: 39px;
}

#sidenav-container {
  width: 100%;
  background: white;
  border: solid lightgray;
  border-width: 1px 0px 0px 1px;
}

///////////////////////////////////// SIDEBAR LEFT //////////////////////////////////////////

#left-sidenav {
  width:min-content;
  padding: 0px 15px 0px 15px;
  border-right: solid 1px lightgrey;
}

.sidenav-container {
  text-align: center;
  height: -webkit-fill-available;
  padding-right: 1%;
  padding-left: 1%;
}

.sidenav-list {
  list-style: none;
  padding-left: 0px;
}

.toggle-side-nav {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.side-nav-icon {
  font-size:35px;
  height: 39px;
  width: 39px;
}

.panelSwitch {
  height:calc(100% - 60px);
}

///////////////////////////////////// SIDEBAR RIGHT //////////////////////////////////////////

#right-sidenav {
  border: solid 1px lightgrey;
  border-width: 0px 0px 0px 1px;
  width:min-content;
}

.alignement {
  border:1px solid black;
  padding: 5px 4px 0px 4px;
  cursor:pointer;
  text-decoration: none;
}

.column {
  border-radius: 0 0.2em 0.2em 0;
  border:1px solid black;
  padding: 2px 4px 0px 4px;
  cursor:pointer;
}

.ligne {
  border-radius: 0.2em 0 0 0.2em;
  border:1px solid black;
  padding: 2px 7px 0px 7px;
  cursor:pointer;
}

.selected {
  background: #e4e4e4;
}

.flex {
  display: flex;
}

.edit-block,
.edit-item {
  width: 100%;
  background-color: whitesmoke;
  font-size:small;
  padding:30px 30px 0px 30px;
}

.edit-row {
  padding-bottom:30px;
  min-width: 300px;
}

.edit-row-item {
  min-width: 300px;
}

.border-radius-right {
  border-radius: 0 0.2em 0.2em 0;
}

.border-radius-left {
  border-radius: 0.2em 0 0 0.2em;
}

///////////////////////////////////// PAGE CENTRALE /////////////////////////////////////////

.page-container {
  position: fixed;
  top: 128px;
  bottom: 0px;
  min-width: 100%;
}

.paperBoard {
  margin-right: 10%;
  margin-top: 3%;
  // margin-bottom: 10%;
  margin-left: 16%;
  box-shadow: 0 0px 20px 1px black;
  width: 70%;
  height: 91%;
  background: white;
}

mat-grid-list {
  height: 100%;
}

.colTab {
  float: right;
  border: 1px solid;
  height: 100%;
  width: 25%;
}

.gridView {
  height: 100%;;
}

.tile {
  width: 100%;
  overflow:auto;
  height: 100%;
}

.ligneGrid11 {
  display: block;
  height: 11%;
}

.ligneGrid12 {
  display: block;
  height: 12%;
}

///////////////////////////////////// COULEURS DE ERIC QU'IL FAUT SURTOUT PAS SUPPRIMER /////////////////////////////////////////


.backgroundColorGridR0{
  background: rgb(255, 0, 0);
}
.backgroundColorGridR1{
  background: rgb(255, 64, 0);
}
.backgroundColorGridO0{
  background: rgb(255, 128, 0);
}
.backgroundColorGridO1{
  background: rgb(255, 191, 0);
}
.backgroundColorGridJ0{
  background: rgb(255, 255, 0);
}
.backgroundColorGridJ1{
  background: rgb(191, 255, 0);
}
.backgroundColorGridV0{
  background: rgb(128, 255, 0);
}
.backgroundColorGridV1{
  background: rgb(64, 255, 0);
}
.backgroundColorGridV2{
  background: rgb(0, 255, 64);
}
.backgroundColorGridV3{
  background: rgb(0, 255, 128);
}
.backgroundColorGridV4{
  background: rgb(0, 255, 191);
}
.backgroundColorGridB0{
  background: rgb(0, 255, 255);
}
.backgroundColorGridB1{
  background: rgb(0, 0, 255);
}
.backgroundColorGridB2{
  background: rgb(64, 0, 255);
}
.backgroundColorGridB3{
  background: rgb(128, 0, 255);
}
.backgroundColorGridVI0{
  background: rgb(191, 0, 255);
}
.backgroundColorGridVI1{
  background: rgb(255, 0, 255);
}
.backgroundColorGridROS0{
  background: rgb(255, 0, 191);
}
.backgroundColorGridROS1{
  background: rgb(255, 0, 128);
}

.backgroundColorred{
  float: right;
  border:  1px solid;
  height:60px;
  width: 25%;
  background: red;
}
.backgroundColorlightblue{
  float: right;
  border:  1px solid;
  height:60px;
  width: 25%;
  background: lightblue;
}
.backgroundColoryellow{
  float: right;
  border:  1px solid;
  height:60px;
  width: 25%;
  background: yellow;
}
.backgroundColorgreen{
  float: right;
  border:  1px solid;
  height:60px;
  width: 25%;
  background: green;
}

.borderColorRed{
  border:1px solid red;
}
.bColorred{
  background-color: red;
}

div.coloredContainerX > div, div.colorNested > div > div {
  padding: 8px;
  box-shadow: 0 2px 5px 0 rgba(52, 47, 51, 0.63);
  opacity: 0.9;
  color: #fff;
  text-align: center;
}

div.coloredContainerX > div:nth-child(1), div.colorNested > div > div:nth-child(1), div.box1 {
  background-color: #009688;
}

div.coloredContainerX > div:nth-child(2), div.colorNested > div > div:nth-child(2), div.box2 {
  background-color: #3949ab;
}

div.coloredContainerX > div:nth-child(3), div.coloredChildren > div:nth-child(3),
div.colorNested > div > div:nth-child(3), div.box3 {
  background-color: #9c27b0;
}

div.coloredContainerX > div:nth-child(4), div.coloredChildren > div:nth-child(4),
div.colorNested > div > div:nth-child(4) {
  background-color: #b08752;
}

div.coloredContainerX > div:nth-child(5), div.coloredChildren > div:nth-child(5),
div.colorNested > div > div:nth-child(5) {
  background-color: #5ca6b0;
}

div.colored > div {
  padding: 8px;
  box-shadow: 0 2px 5px 0 rgba(52, 47, 51, 0.63);
  opacity: 0.9;
  color: #fff;
  text-align: center;
}

div.colored > div:nth-child(1), .one {
  background-color: #009688;
}

div.colored > div:nth-child(2), .two {
  background-color: #3949ab;
}

div.colored > div:nth-child(3), .three {
  background-color: #9c27b0;
}

div.colored > div:nth-child(4), .four {
  background-color: #8bc34a;
}

div.colored > div:nth-child(5), .five {
  background-color: #03a9f4;
}

div.colored > div:nth-child(6), .six {
  background-color: #c9954e;
}

div.colored > div:nth-child(7), .seven {
  background-color: #ff5722;
}

div.colored > div:nth-child(8), .eight {
  background-color: #9c27b0;
}

div.colored.box.nopad > div {
  padding: 0;
}
