


 <h1> Grid View</h1>
 <button mat-button (click)="sidenav2.toggle()"><mat-icon>menu</mat-icon></button>
<mat-sidenav-container>
  <mat-sidenav #sidenav2 mode="side" class="sidebar-left">

    <h3>SIDEBAR</h3>

    <mat-tab-group>
      <mat-tab label="Grid Option">
        <button (click)="gridNameColor('one', 'lightblue')">One - Blue </button>
        <button (click)="gridNameColor('two', 'red')">Two - Red</button>
        <button (click)="gridNameColor('three', 'yellow')">Three - Yellow</button>
        <button (click)="gridNameColor('four', 'green')">Four - Green</button>
        <div id="ligne1" style="display: block; ">
          <div id="col14" (click)="gridSkull(1,4)"  class="{{backgroundColor[3]}}" ></div>
          <div id="col13" (click)="gridSkull(1,3)"  class="{{backgroundColor[2]}}"></div>
          <div id="col12" (click)="gridSkull(1,2)"  class="{{backgroundColor[1]}}"></div>
          <div id="col11" (click)="gridSkull(1,1)"  class="{{backgroundColor[0]}}"></div>
        </div>
        <div id="ligne2" style="display: block;" >
          <div id="col24" (click)="gridSkull(2,4)" class="{{backgroundColor[7]}}"></div>
          <div id="col23" (click)="gridSkull(2,3)" class="{{backgroundColor[6]}}"></div>
          <div id="col22" (click)="gridSkull(2,2)" class="{{backgroundColor[5]}}"></div>
          <div id="col21" (click)="gridSkull(2,1)" class="{{backgroundColor[4]}}"></div>
        </div>
        <div id="ligne3" style="display: block;" >
          <div id="col34" (click)="gridSkull(3,4)" class="{{backgroundColor[11]}}"></div>
          <div id="col33" (click)="gridSkull(3,3)" class="{{backgroundColor[10]}}"></div>
          <div id="col32" (click)="gridSkull(3,2)" class="{{backgroundColor[9]}}"></div>
          <div id="col31" (click)="gridSkull(3,1)" class="{{backgroundColor[8]}}"></div>
        </div>
        <div id="ligne4" style="display: block;" >
          <div id="col44" (click)="gridSkull(4,4)" class="{{backgroundColor[15]}}"></div>
          <div id="col43" (click)="gridSkull(4,3)" class="{{backgroundColor[14]}}"></div>
          <div id="col42" (click)="gridSkull(4,2)" class="{{backgroundColor[13]}}"></div>
          <div id="col41" (click)="gridSkull(4,1)" class="{{backgroundColor[12]}}"></div>
        </div>
        <div id="ligne5" style="display: block; " >
          <div id="col54" (click)="gridSkull(5,4)" class="{{backgroundColor[19]}}"></div>
          <div id="col53" (click)="gridSkull(5,3)" class="{{backgroundColor[18]}}"></div>
          <div id="col52" (click)="gridSkull(5,2)" class="{{backgroundColor[17]}}"></div>
          <div id="col51" (click)="gridSkull(5,1)" class="{{backgroundColor[16]}}"></div>
        </div>
        <div id="ligne6" style="display: block; padding-bottom: 900px" >
          <div id="col64" (click)="gridSkull(6,4)" class="{{backgroundColor[23]}}"></div>
          <div id="col63" (click)="gridSkull(6,3)" class="{{backgroundColor[22]}}"></div>
          <div id="col62" (click)="gridSkull(6,2)" class="{{backgroundColor[21]}}"></div>
          <div id="col61" (click)="gridSkull(6,1)" class="{{backgroundColor[20]}}"></div>
        </div>



      </mat-tab>
      <mat-tab label="Dag Item Option">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
    <button mat-button [matMenuTriggerFor]="appMenu" class="margin-top">Bouton menu exemple</button>
  </mat-sidenav>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item> Settings </button>
    <button mat-menu-item> Help </button>
  </mat-menu>


<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile  dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamTwo"
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">

      <div></div>
    </mat-grid-tile>
  </mat-grid-list><br>

</mat-sidenav-container>
<h1>3. Drag&Drop</h1>
<div class='parent'>
  <label for='hy'>Copying stuff is common too, so we made it easy for you.</label>
  <div class='wrapper'>
    <div class='container' [dragula]='"page-bag"' [dragulaModel]='many' id="component">
        <div *ngFor='let text of many' [innerHtml]='text'></div>
    </div>
    <div class='container' [dragula]='"page-bag"' [dragulaModel]='many2' id="web">
      <div *ngFor='let text of many2' [innerHtml]='text'></div>
    </div>
    <div class='container'>
      <pre>{{many2 | json}}</pre>
    </div>
  </div>
</div>
