<div style="padding-left: 3%;padding-top: 1%;">
    <h2>JSON</h2>
  
    <div class="example-container">
    <!-- <span> -->
      <label>JSON :
        <input matInput placeholder="Entrez Json" #json>
      </label>
      <!-- </span> -->
      <!-- (click) passes input value to add() and then clears the input -->
    </div>
      <button (click)="addJson(json.value); json.value=''">
        add
      </button>
  
    <ul>
      <li *ngFor="let json of jsons">
          {{json.content}}
      </li>
    </ul>
</div>

<h2>List of WODs</h2>

<div class="example-container">
<!-- <span> -->
    <label>Wod name:
        <input matInput placeholder="Nom du WOD" #heroName>
    </label>
  <!-- </span> -->
  <!-- (click) passes input value to add() and then clears the input -->
</div>
    <button (click)="addHero(heroName.value); heroName.value=''">
      add
    </button>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/api/hero/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
      <button class="delete" title="delete wod" (click)="deleteHero(hero)">x</button>
  </li>
</ul>